span{
    outline: auto;
    border: 5px solid red;
    background-color: aqua;
    box-shadow: 20px 5px 25px 5px;
}
h2{
    text-shadow: 15px 13px 13px ;
    text-transform: inherit ;
    
    
}
body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    height: 500px ;
    width: 450px;
    border: 8px royalblue solid;
    padding: auto ;
    margin: 55px 23px 33px 44px;
}
button{
    color: black ;
    padding: auto;
    margin-top: 5px;
    outline-style: ridge;
    box-shadow: 15px 13px 19px;
    
}